
.cart{
    background-color: white;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
}

.buy-btn{
    background-color: #01c682;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
}
.buy-btn:hover{
    background-color: goldenrod;
   
}
.salmon-color{
    color: salmon;
}