
.carousel1-design{
    background-color:#15c6be;
    padding-top: 20px;
    padding-bottom: 20px;
  
}
.carousel2-design{
    background-color:#f1f1f1;
    padding-top: 40px;
    padding-bottom: 40px;
}
.carousel3-design{
    background-color:#15c6be;
   
}