.card{
    border: none;
    border-radius: 15px ;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
}

.card img{
    height:250px;
    width: 250px;
   
    margin: auto;
    padding: 10px;
    /* border-radius: 50%; */
    
   
}
.card-body{
    text-align: center;
}

.social-icon{
    font-size: 25px;
    margin: 5px;
    margin-top: -5px;
}.social-links a{
    color: grey;
    margin-left: 8px;
    font-size: 30px;
}