.coaching-div{
    height: 150px;
    width: 350px;
    border: none;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
}
/* .coaching-div:hover{
    transform: scale(110%);
} */
.coaching-img{
    height: 80px;
    width: 100px;
    padding: 10px;
}
.salmon-color{
    color: salmon;
}